@import url(//db.onlinewebfonts.com/c/64c0284f1ada1cf79ec484ac28eee170?family=Louis+Vuitton);

body {
    font-family: Louis Vuitton ,Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin:0 auto !important;
	padding:0px !important;
	width: 100%;
    max-width: 1480px;
    max-height: 666px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}



/*Site header */

.site-header {
    text-align: center;
    margin-bottom: 0px;
}

/* Site main */

.site-main {
    padding-top: 30px;
    margin: 0px 100px;
}

/* Side bar */


.name-bar {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}



.name {
    font-size: 25px;
    font-weight: bold;
}

.edit-profile {
    cursor: pointer;
}

.edit-profile i {
    font-weight: 70;
}

.edit-profile:hover {
    font-weight: bold;
}

.nav-link{
    text-decoration: none;
    background-color: transparent !important;
    color: black !important;
    line-height: 70% !important;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 0px;
    margin-bottom: 30px;
}

a.nav-link:hover {
   /*text-decoration:underline !important;*/
   text-decoration: none !important;
   text-shadow:0px 0px 1px black !important; 
}
  

.side-bar .active {
    /*
    border-right: 2.5px solid black !important;
    border-radius: 0% !important;
    */
    background-color: black !important;
    color: white !important;
}

.active, .label {
    font-weight: bold !important;
}


/* content */


#v-pills-userinfo {
    padding: 0 15% 0 15%;
}

#content-side, .info-form {
    font-weight: normal;
    font-size: 17px;
}

.content img{
    width: 400px;
    height: auto;
}

.info {
    line-height: 40%;
    padding-top: 10px;
}

.info-content {
    margin: 0px 25% 0px 25%;
}

.icon {
    font-size: 30px;
}



.menu-info {
    padding-top: 35px;
}

.menu-info .nav {
    text-align: center;
}

.menu-info .nav li {
    margin-right: 40px;
}

.menu-info .nav-item .active {
    /*
    border-right: 2.5px solid black !important;
    border-radius: 0% !important;
    */
    border-top: 2px solid black !important;
    border-radius: 0% !important;
    color: black !important;
}


/* notification */

.noti-item, .setting-item {
    font-size: 16px;
    font-weight: normal;
    border-top: 1px solid rgb(152, 156, 156);
    padding-top: 10px;
    padding-bottom: 10px;
}

.setting-item {
    font-size: 16px;
    font-weight: normal;
    border-top: 1px solid rgb(152, 156, 156);
    padding-top: 10px;
    padding-bottom: 10px;
}

.change:hover {
    cursor: pointer;
    font-weight: bold;
}

#v-pills-settings, #v-pills-notifications {
    margin-right: 100px;
    margin-top: 50px;
}

#v-pills-settings .row, #v-pills-notifications .row, #v-pills-favorites .row{
    padding-right: 10px;
    padding-left: 10px;
}

/*list item */

.list-item a {
    font-size: 14px;
    font-weight: normal;
    color: black !important;
    border: 0.1em solid black !important;
    border-radius: 0% !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-item a:hover {
    background-color: black !important;
    color: white !important; 
}

.info {
    line-height: 100%;
}

#text-change {
    line-height: 40%;
}

button {
    background-color: black !important;
    color: white !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: black !important;
    border-radius: 0% !important;
    margin-left: 40% !important;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*list item */

.list-item a {
    font-size: 14px;
    font-weight: normal;
    color: black !important;
    border: 0.1em solid black !important;
    border-radius: 0% !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-item a:hover {
    background-color: black !important;
    color: white !important; 
}

.list-item {
    margin-left: 280px;
    margin-top: 10px;
}

/* favorites */
.favorite-images {
    font-size: 15px; 
    font-weight: normal;
}

.favorite-images .disc {
    margin-left: 50px;
}

.favorite-images img{
    width: 150px;
    height: 160px;
}

.info {
    line-height: 100%;
}