
@font-face {
    font-family: Louis Vuitton;
    src: url(../font/Louis_Vuitton_Regular.ttf);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Louis Vuitton ,Helvetica, Arial, sans-serif;
}

#header .nav-link {
    text-decoration: none;
    background-color: transparent !important;
    color: black !important;
    line-height: 100% !important;   /* cai nay lam cho menu nho lai */
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 0px;
}

#container {
    margin: 0;
    padding: 0;
    left:0;
    width: 100%;

    /*  */
    min-height: 2000px;
    /*  */
    background-color: white;
    position: relative;
}

#header {
    width: 100%;
    min-height: 199px;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    height: 177px;
}

#account {
    width: 100%;
    height: 2em;
    background-color: rgb(245, 245, 245);
    line-height: 2em;
    font-size: 1.2vw;
}

.row{
    border:0px;
    margin-right:0;
    margin-left:0;
    max-width:100%; 
}

#logo {
    width: 100%;
    height: 115px;
    position: relative;
    text-align: center;
}

#img-logo {
    height: 100px;
    margin-top: 10px;
}

#nav_menu {
    width: 100%;
    text-transform: uppercase;
}

#nav_menu a:hover {
    color: #B8B8B8;
    text-decoration: none;
}

.nav-link {
    color: black !important;
}

.nav .nav-link:hover {
    text-decoration: none !important;
    text-shadow:0px 0px 1px black !important; 
}

.nav .active {
    text-decoration: none !important;
    text-shadow:0px 0px 1px black !important; 
}

#header svg {
    padding-bottom: 3px;
}

.js-icon {
    color: black;
}

.js-icon:hover {
    color:#8B8B83;
    text-decoration: none;
}

#js-visited:visited {
    background-color: rgb(245, 245, 245);
}

/*------content-----*/

#content {
    margin: 0;
    padding: 0;
    width: 100%;
    
    min-height: 300px;
    /*  */
    background-color: white;
    position: relative;
}


.nav-infor {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#header .nav-tabs {
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}


#header .nav-tabs .nav-item:hover {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#header .nav-tabs .active{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
    border-bottom: 1px solid black !important;
    background-color: black !important;
    color: white !important;
}

#header #nav_menu .nav .active::after { 
	content: '   \2022';
}

#header #nav_menu .nav .active::before{ 
	content: '\2022   ';
}

#user-name {
    font-size: 1.5vw !important;
}


/* ---------------- */
.text-muted {
    color: rgb(173, 173, 173) !important;
}


.no-padding {
    padding: 0;
}

/*  ----------- footer ------------ */

#footer {
    border-top: 1px solid black;
    padding: 30px 50px;
    margin-top: 100px;
    background-color: rgb(54, 54, 54);
    color: white;
}


#footer #footer-logo {
    width: 70%;
    height: auto;
    margin: 0 15%;
    filter: invert(100%) sepia(68%) saturate(626%) hue-rotate(274deg) brightness(500%) contrast(100%) drop-shadow(0px 0px 5px white); ;
}

#footer #footer-slogan {
    font-size: 25px;
    text-align: center;
    line-height:110%;
}

#footer .footer-title {
    font-size: 35px;
    font-weight: bold;
}

#footer .footer-link {
    font-size: 20px;
}

#footer a.footer-link {
    color: white;
}